body{

	background-color:rgba(0, 128, 128, 0.5);
	background-image:url('Image/barreh.png');
	/*background-attachment:fixed;*/
	
	background-repeat:round;
	background-clip:border-box;
	
}

div.navpage{

	width:80%;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	padding-top:0px;
	box-shadow: 0px 0px 20px 10px #333;
	/*border:2px solid;*/
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	height:3600px;

}

.up_button:hover {
	background-color: rgba(0, 128, 128, 0.75);
}
.up_button {
	background-color: black;
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	box-shadow: 0px 0px 20px 10px #333;
	/*border:2px solid;*/
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 50px;
	text-align: center;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.navmainmenud {
	width: 100%;
	height: 75px;
	/*background-image:url("Image/fdtacheb.png");*/
	background-color: black;
	border: 1px solid lightblue;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

ul.navmainmenu {

	list-style-type:none;
	margin:0;
	padding:0;
	
	
}

ul.navmainmenu li{

	float:left;
	width:200px;
	height:50px;
	text-align:center;
	margin-top:20px;
	
}

a.menu_accueil{

	height:50px;
	width:100px;
	background-image:url("Image/accueil.png");

}



div.navcontent{

	clear:both;
	height:100%;
	width:100%;
	/*border:1px solid gray;*/
	font-family:Arial;
	border-bottom-left-radius:2em;
}


div.navleft{
	
	float:left;
	width:25%;
	height:3525px;
	background-color:rgba(0, 128, 128, 0.75);
	border-bottom-left-radius:20px;
	
	/*background-image:url("Image/fddiag.png");
	background-size:100% 75px;*/
	/*margin-left:10px;*/
	
}
.divelem {

}

.divelem h3 {
	
	
}

.divelem h3 a{
	height:50px;
}

/* unvisited link */
a:link {
	
	color: white;
	width: 100%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
}

a.mail{


}
/* visited link */
a:visited {
	color: white;
	font-family:Arial, Helvetica, sans-serif;
}

/* mouse over link */
a:hover {
	border: 10px;
	padding: 5px 5px;
	border-color: white;
	background-color: rgb(36, 228, 228, 0.15);
	color: lightyellow;
}

/* selected link */
a:active {
	color: white;
} 

div.navcenter {
	float: left;
	width: 75%;
	height: 3525px;
	background-color: black;
	border-bottom-right-radius: 20px;
	color: white;
	/*background-image:url("Image/rmeysso.png");
	background-size:100% 100%;
	/*margin-left:10px;*/
}

div.menu_princ_element {
	width: 100%;
	height: 50px;
	background-repeat: round;
	padding-top: 20px;
	/*background-image: url("Image/fdtacheb.png");*/
	text-align: center;
	vertical-align: top;
	color: white;
}

codersrank-summary {
	--bg-color: transparent;
	--badge-bg-color: #161616;
	--badge-text-color: #fff;
	--badges-padding: 0px;
	--badge-padding: 8px;
	--badge-margin: 16px;
	--badge-border-radius: 8px;
	--badge-rank-font-size: 16px;
	--badge-technology-font-size: 18px;
	--badge-location-font-size: 16px;
	--badge-icon-size: 32px;
	--badge-border: 1px solid rgba(0, 0, 0, 0.1);
	--badge-box-shadow: none;
}

codersrank-skills-chart {
	--label-text-color: rgba(255, 255, 255, 0.54);
	--chart-bg-color: #161616;
	--chart-border-radius: 8px;
	--axis-bg-color: transparent;
	--label-font-size: 12px;
}

codersrank-portfolio {
	--grid-columns: 2;
	--item-bg-color: #161616;
	--item-border-radius: 8px;
	--item-spacing: 16px;
	--item-padding: 16px;
	--logo-size: 64px;
	--tag-bg-color: rgba(255,255,255,0.075);
	--link-text-color: var(--theme-color);
	--link-bg-color: rgba(255,255,255,0.1);
	--link-hover-bg-color: rgba(255,255,255,0.125);
	--link-active-bg-color: rgba(255,255,255,0.075);
	--link-border-radius: 8px;
	--link-padding: 4px 8px;
	--link-text-transform: none;
	--link-font-weight: 500;
	--link-margin: 8px;
}

codersrank-work-experience,
codersrank-education {
	--item-bg-color: #161616;
	--item-border-radius: 8px;
	--item-spacing: 16px;
	--item-padding: 16px;
	--logo-size: 64px;
	--tag-bg-color: rgba(255,255,255,0.075);
}