.App {
    position:absolute;
    top:0px;
    left:0px;
    text-align: center;
    width: 50px;
    height: 25px;
    background-color: black;
    z-index: 1000000;
    box-shadow: 2px 2px 2px #808080;
    border: 1px solid #ffffff;
    opacity:0.4;
}

.App:hover{
    opacity:1.0;
}

.button_bar {
    width: 25px;
    height: 25px;
    float:left;
   
}

